@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #f0f0f0;
  --accent: #a3a3a3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.columns-2 {
  column-count: 2;
}

@media (min-width: 640px) {
  .sm\:columns-3 {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .lg\:columns-4 {
    column-count: 4;
  }
}
